<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>MPG Prediction Model Deployment Tutorial</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
 <div class="login">
  <h1>Car MPG Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="cylinders" placeholder="cylinders" required="required" />
        <input type="text" name="displacement" placeholder="displacement" required="required" />
    <input type="text" name="horsepower" placeholder="horsepower" required="required" />
      <input type="text" name="weight" placeholder="weight" required="required" />
        <input type="text" name="acceleration" placeholder="acceleration" required="required" />
    <input type="text" name="year" placeholder="year" required="required" />
      <input type="text" name="origin" placeholder="origin" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Car MPG based on Input</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>